<!-- 

 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Landing page logo</title>
  </head>
  <body>
    <div class="main-logo-container flex">
      <object class="main-logo" data="../../assets/one.svg" type=""></object>
      <object
        class="main-logo stars"
        data="../../assets/two.svg"
        type=""
      ></object>
      <object
        class="main-logo outer-ring"
        data="../../assets/three.svg"
        type=""
      ></object>
      <object class="main-logo" data="../../assets/four.svg" type=""></object>
      <object class="main-logo" data="../../assets/five.svg" type=""></object>
      <object
        class="main-logo planet"
        data="../../assets/six.svg"
        type=""
      ></object>
      <object
        class="main-logo ring-box"
        data="../../assets/seven.svg"
        type=""
      ></object>
    </div>
  </body>
</html>
