.main-logo-container {
  background-color: black;
  position: relative;
  width: 70vw;
  height: 80vh;
  overflow: hidden;
}
.main-logo {
  position: absolute;
  right: 0;
  width: 94%;
}
.planet {
  height: 80%;
  z-index: 7;
}

.outer-ring {
  height: 80%;
}
.ring-box {
  height: 80%;
  z-index: 5;
}

.stars {
  width: 100%;
}
