.contactPage {
  min-height: 50vh;
  padding: 10px 0px;
}
.contact-form-wrapper {
  width: 35%;
  padding: 20px 0px;
  margin: auto;
}

.contact-form {
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  margin: auto;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

#contact-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
}
.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: var(--primary-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px var(--primary-color);
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-box {
  width: 90% !important;
  margin: auto !important;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: var(--secondary-color);
}
.contact-image {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .contact-image {
    width: 80%;
  }

  .contactPage .section-head {
    text-align: center;
  }
  .contact-form-wrapper {
    width: 90%;
  }
  #contact-box {
    flex-direction: column;
  }
}
