/* homepage design */
.homepage {
  width: 100%;
  height: calc(85vh - 50px);
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--ternary-color)
  );
  overflow: hidden;
}
.home-image-box {
  position: relative;
  top: 17px;
  width: 50%;
  /* background-color: aqua; */
  height: 100%;
}
.home-image-box img {
  width: 100%;
  height: 100%;
}
.logo-container {
  width: 50%;
  padding: 0px 100px;
  color: var(--font-color);
}
.logo-container h1 {
  font-size: 5rem;
}
.logo-container h3 {
  font-size: 2rem;
  margin: 30px 0px;
}
.logo-container p {
  font-size: 1rem;
  line-height: 2;
  font-family: var(--primary-font);
}
.button-box {
  margin-top: 20px;
  width: 70%;
}
