footer {
  width: 100%;
  height: 20vh;
  background-color: var(--secondary-color);
  color: black;
}

footer img {
  width: 100px;
  margin: 0px 10px;
}

.elixir {
  width: 250px;
}

.gfg {
  width: 200px;
}

.cc {
  width: 120px;
}

.gdsc {
  width: 200px;
}
.footer-text {
  width: 20%;
}
