header {
  position: sticky;
  top: 0;
  margin: auto;
  background: var(--secondary-color);
  z-index: 100;
}
.navbar {
  width: 90%;
  height: 3.5rem;
  color: var(--primary-color);
  overflow: hidden;
  font-size: 1.2em;
  justify-content: space-between;
}
header i {
  color: var(--primary-color) !important;
  margin: 0px 10px;
  padding: 0px;
  transition: 0.2s;
}

header i:hover {
  cursor: pointer;
  transform: scale(1.1);
}
