.web-top-container .fa-angle-down {
  font-size: 30px;
  position: relative;
  top: 20rem;
  right: 40rem;
  cursor: pointer;
}

.web-top-container {
  width: 100%;
  height: 100vh;
}

.web-top-left {
  position: relative;
  /* left: 10rem; */
  width: 30vw;
  height: 70vh;
}
.web-top-left h1 {
  color: var(--font-color);
  font-family: var(--quad-font);
  font-size: 7rem;
  letter-spacing: 8px;
}
.web-top-left p {
  color: var(--ternary-color);
  margin-top: 20px;
  font-size: 25px;
  letter-spacing: 5px;
  font-family: var(--pent-font);
}
.particles-js-canvas-el {
  opacity: 0.5;
}

/* logo */

.main-logo-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
.main-logo {
  position: absolute;
  right: 35%;
  height: 25rem;
  width: 25rem;
  z-index: 10;
}

.main-logo-container-outer {
  position: relative;
  left: 15rem;
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  z-index: 10;
}
