.web-bottom-container {
  position: relative;
}

.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 3.5rem);
}
main {
  position: absolute;
  width: 87vw;
  height: 85vh;
  background: transparent;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.left-slide {
  left: -83vw;
  background: rgba(255, 255, 255, 0.01);
}
.right-slide {
  right: -83vw;
  background: rgba(255, 255, 255, 0.01);
}
.mid-slide {
  background: rgba(255, 255, 255, 0.01);
}
.toggle-btn {
  color: var(--font-color);
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  /* top: 50%; */
  bottom: 40px;
  z-index: 50;
  font-size: 40px;
  transition: 0.2s;
}
.toggle-btn:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}
.toggle-btn-left {
  left: 40%;
}
.toggle-btn-right {
  right: 35%;
}
