.web-bottom-container {
  position: relative;
}

.container {
  position: relative;
  width: 100vw;
  top: 50px;
  height: calc(100vh - 3.5rem);
}
main {
  position: absolute;
  width: 87vw;
  height: 85vh;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.left-slide {
  left: -83vw;
}
.right-slide {
  right: -83vw;
}
.toggle-btn {
  color: var(--font-color);
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  /* top: 50%; */
  bottom: 5rem;
  z-index: 50;
  font-size: 40px;
  transition: 0.2s;
}
.toggle-btn:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}
.toggle-btn-left {
  left: 43%;
}
.toggle-btn-right {
  right: 44%;
}

.navv-logo {
  width: 4.9rem;
  height: 4.9rem;
  position: relative;
  left: 47%;
  bottom: 5rem;
}
