@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@200&display=swap");

@font-face {
  font-family: nulshock;
  src: url(../assets/fonts/nulshock\ bd.otf);
}
@font-face {
  font-family: fake;
  src: url(../assets/fonts/fake\ receipt.ttf);
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* root variables */
:root {
  --primary-color: #131313;
  --secondary-color: #d9d9d9;
  --ternary-color: #b0d8fa;
  --font-color: #ffff;
  --primary-font: "Comfortaa", cursive;
  --secondary-font: "Montserrat", sans-serif;
  --quad-font: "nulshock";
  --pent-font: "fake";
}
::-webkit-scrollbar {
  display: none;
}

/* html element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

/* body element */
body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Particle Js Custom CSS */
.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Particle Js Custom CSS */

h1 {
  font-family: var(--quad-font);
  font-size: 6rem;
}
.main-section {
  margin: 10px;
  padding: 50px 0px;
  min-height: 83vh;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@200&display=swap");

@font-face {
  font-family: nulshock;
  src: url(../assets/fonts/nulshock\ bd.otf);
}
@font-face {
  font-family: fake;
  src: url(../assets/fonts/fake\ receipt.ttf);
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* root variables */
:root {
  --primary-color: #131313;
  --secondary-color: #d9d9d9;
  --ternary-color: #b0d8fa;
  --font-color: #ffff;
  --primary-font: "Comfortaa", cursive;
  --secondary-font: "Montserrat", sans-serif;
  --quad-font: "nulshock";
  --pent-font: "fake";
}
::-webkit-scrollbar {
  display: none;
}

/* html element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

/* body element */
body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Particle Js Custom CSS */
.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Particle Js Custom CSS */

h1 {
  font-family: var(--quad-font);
  font-size: 6rem;
}
.main-section {
  margin: 10px;
  padding: 50px 0px;
  min-height: 83vh;
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@200&display=swap");

@font-face {
  font-family: nulshock;
  src: url(../assets/fonts/nulshock\ bd.otf);
}
@font-face {
  font-family: fake;
  src: url(../assets/fonts/fake\ receipt.ttf);
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

/* root variables */
:root {
  --primary-color: #131313;
  --secondary-color: #d9d9d9;
  --ternary-color: #b0d8fa;
  --font-color: #ffff;
  --primary-font: "Comfortaa", cursive;
  --secondary-font: "Montserrat", sans-serif;
  --quad-font: "nulshock";
  --pent-font: "fake";
}
::-webkit-scrollbar {
  display: none;
}

/* html element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
}

/* body element */
body {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  color: var(--font-color);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Particle Js Custom CSS */
.particles-js-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Particle Js Custom CSS */

h1 {
  font-family: var(--quad-font);
  font-size: 6rem;
}
.main-section {
  margin: 10px;
  padding: 50px 0px;
  min-height: 83vh;
}
