* {
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #0D0D0D;
  --secondary-color1: #D9D9D9;
  --secondary-color2: #b0d8fa;
}

body {
  background-color: rgba(234, 234, 234, 0.636);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.no-display {
  display: none !important;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 3.5rem);
}
main {
  position: fixed;
  background-color: white;
  width: 87vw;
  height: 90vh;
}
.left-slide {
  left: -83vw;
  opacity: 0.8;
  /* height: 85vh; */
}
.right-slide {
  right: -83vw;
  /* height: 85vh; */
  opacity: 0.8;
}
.toggle-btn {
  cursor: pointer;
  background: none;
  border: none;
  position: fixed;
  top: 50%;
  z-index: 50;
  font-size: 40px;
  transition: 0.2s;
}
.toggle-btn:hover {
  transform: scale(1.2);
  color: rgba(0, 0, 0, 0.617);
}
.toggle-btn-left {
  left: 20px;
}
.toggle-btn-right {
  right: 20px;
}
