.themes-grid {
  display: flex;
  width: 90%;
  /* height: 90%; */
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 10px;
  justify-content: space-around;
  padding: 20px;
}
.theme-panel {
  background: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 20% !important;
  height: 100%;
  text-align: center;
  padding: 30px;
  height: 6pc;
  cursor: pointer;
}
.theme-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
}
#theme-head {
  margin: 10px 0px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  overflow: hidden;
  /* width: 100%; */
  height: 0;
  transition: 0.5s ease;
}

.theme-panel:hover .overlay {
  bottom: 0;
  height: 100%;
}

.themes {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
